@model Maloncos.Areas.Admin.Models.TestModel
@{
    ViewBag.Title = "UploadFiles";
}

@using (Html.BeginForm("UploadFiles", "Article", FormMethod.Post, new { enctype = "multipart/form-data", area = "Admin" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.file)
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.file, new { @class = "form-control", @type="file"} )
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div>
                <input type="submit" value="Envoyer"  />
            </div>
        </div>
        <div class="form-group">
            <div >
                @ViewBag.FileStatus
            </div>
        </div>
    </div>
}
